*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex ;
    background-color: black;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto Serif', serif;
}
p{
    color: white;
}
header section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 12vw;
    position: relative;
    left: 60px;
}
header section img{
    height: 5vh;
}
header nav{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 19vw;
    margin-right: 40px;
}

header nav img{
    height: 3vh;
}
.primeirasessaomain{
    display: flex;
    align-items:center;
    justify-content: center;
    height:120vh ;
    background-size: 100% 100%;
    background-image:url(./dog1.png);
    background-repeat: no-repeat;
}

.imgpata{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14vh;
}
.primeirotextomain {
    width: 82vh;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 29vh;
    left: 31vw;
    font-family: 'Roboto Serif', serif;
}
.segundasessaomain{
    display: flex;
    align-items: center;
    height: 130vh;
    background-size: 100% 100%;
    background-image:url(./dog2.png);
    background-repeat: no-repeat;
    
}
main .segundasessaomain h2{
    width: 40vw;
    font-size: 60px;
    font-family: 'Roboto Serif', serif;

}
main .segundasessaomain p{
    color: black;
    font-size: 40px;
    margin-top: 2vh;
    font-family: 'Roboto', sans-serif;
}
main .segundasessaomain div{
    margin-top: 15vh;
    height: 80vh;
    width: 32vw;
    margin-left: 8vw;
}
main .segundasessaomain button{
    background-color: #3A342F;
    color: white;
    font-size:22px;
    height: 8vh;
    width: 15vw;
    border-radius: 44px;
    margin-top:10vh;
    font-family: 'Roboto', sans-serif;
}
.terceirasessaomain {
    background-image:url(./dog3.png);
    height: 130vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: end;
}main .terceirasessaomain div{
    margin-right: 7vw;
    margin-bottom: 23vh;
    width:30vw ;
    height: 80vh;
    
}main .terceirasessaomain h1{
    color: white;
    font-size: 60px;
    font-family: 'Roboto Serif', serif;
}
main .terceirasessaomain p{
    margin-top: 2vh;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
main .terceirasessaomain button{
    font-size:22px;
    height: 8vh;
    width: 15vw;
    border-radius: 44px;
    margin-top:10vh;
    border: none;
    font-family: 'Roboto', sans-serif;

}
footer .primeirasessaofooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 13vh;
   
}
footer .primeirasessaofooter div{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    margin-right: 15vw;

}
.segundaimgfooter{
    position: relative;
    right: 6vw;
}
footer .primeirasessaofooter p{
    color: #FD6A9A;
    font-size: 30px;
    position: relative;
    left: 5vw;
    font-family: 'Roboto Serif', serif;
}
footer .segundasessaofooter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EB4A7B;
    display: flex;
    height: 34vh;
    color: white;
    list-style: none;
}
footer .segundasessaofooter li{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}h3{
    font-size: 24px;
    margin-bottom: 2vh;
    font-family: 'Roboto Serif', serif;
   
}
footer .segundasessaofooter nav{
    margin-right: 20vw;
}
a{
    text-decoration: none;
    color: white;
}
.imgfantastikafooter{
    display: none;
}
.imginstagramfooter{
    display: none;
}
.imgyoutubefooter{
    display: none;
}
.imgwhatsappfooter{
    display: none;
}







@media screen and (max-width: 500px) {

.imginstagram{
    display: none;
}
.imgyoutube{
    display: none;
}
header{
    height: 15vh;
}

.imgwhatsapp{
    height: 7vh;
}
header section figure img {
    
    height: 10vh;
}
header section p {
    font-size: 20px;
}
header section{
    margin-left: 5vw;
}
main .primeirasectionmain{
    height: 128vh;
    background-image: url(./dog1mobile.png);    
}
main .primeirotextomain{
    position: absolute;
    left: 6vw;
    height:20vh ;
    width: 90vw;
    font-size: 45px;   
}
main .segundasectionmain{
    background-image: url(./dog2mobile.png);
    height: 145vh;
}
main .segundasectionmain div {
    margin-bottom: 80vh;
    width: 75vw;
    height: 50vh;
}
main .segundasectionmain h2{
    font-size: 30px;
    width: 60vw;
}
main .segundasectionmain p{
    font-size: 19px;
}
main .segundasectionmain button{
    width: 30vw;
    font-size:17px ;
}
main .terceirasectionmain{
    background-image: url(./dog3mobile.png);
}
main .terceirasectionmain div{
    margin-right: 28vw;
    margin-bottom: 65vh;
    width: 65vw;
    height: 50vh;
}
main .terceirasectionmain h1{
    font-size: 30px;
}
main .terceirasectionmain p{
    font-size: 19px;
}
main .terceirasectionmain button{
    width: 30vw;
    font-size:17px ;
}
footer .primeirasectionfooter{
    height: 25vh;
    display:flex ;
    flex-direction: column;
}
footer .primeirasectionfooter div {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    margin-left: 8vw;
}
.primeiraimgfooter{
    width: 22vw;
}
.segundaimgfooter{
    width: 21vw;
}
footer .primeirasectionfooter p{
    font-size:20px ;
    margin-right: 18vw;
}
footer .segundasectionfooter{
    height: 144vh;
    flex-direction: column;
    align-items: center;
}

.imgfantastikafooter{
    display: initial;
    width: 35vw;
    margin-left: 18vw;
    margin-bottom: 5vh;
}
.imginstagramfooter{
    display: initial;
    width: 5vw;
}
.imgyoutubefooter{
    display: initial;
    width: 7vw;
}
.imgwhatsappfooter{
    display: initial;
    width: 5vw;
}
.primeiradivfooter nav{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    margin-left: 15vw;
}
.terceiradivfooter{
    margin-left: 5vw;
}

}

